/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
.clear {
    clear: both;
}
/* CUSTOM STYLES */


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:#F5F3E7;
}


.method-c{
    display: flex;
    justify-content: space-around;
}

.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 168px;
    height: 92px;
    left: 16px;
    top: 240px;
    background: #FFFFFF;
    border: 1px solid rgba(66, 71, 56, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    

}


.pickup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 168px;
    height: 92px;
    left: 190px;
    top: 240px;
    background: #FFFFFF;
    border: 1px solid rgba(66, 71, 56, 0.7);
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

}

.delivery a:link, a:visited {
    background-color: #FFFFFF;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color:#FFFFFF;
}


.pickup a:link, a:visited {
    background-color: #FFFFFF;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
a:hover, a:active {
    background-color:#FFFFFF;
}